<h1>New User</h1>

<%= render "form.html",
  assigns
  #|> debug_value()
  #|> debug_value_2(Routes.user_path(@conn, :create))
  |> Map.put(:action, Routes.user_path(@conn, :create))
  #|> Map.put(:roles, @roles)
   %>

<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
